<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Todo's List</title>
  </head>
  <body>
    <style>
        body{
            background-color: rgb(188, 230, 255);
        }
        h1{
            margin: 10px;
            text-shadow: 10px;
            color: rgb(31, 35, 255);
            font-weight: 400;
        }
        h3{
            margin-top: 30px;
            font-weight: 300;
        }
    </style>
    <h1>Todo's List</h1>
    <br>
    <div class="container">
        <h3>Put Your Todo here</h3>
        <form action="{{url_for('home')}}" method="POST">
            <form class="form-floating">
                <input type="text" class="form-control" id="floatingInputValue" placeholder="Today I will . . . ." style="font-weight: 300;" name="intxt">
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit" style="font-weight: 300;">Add Todo</button>
                </div>
              </form>
        </form>
        <br>
        {% for todo in todos %}
        {% if todo.content !=none %}
        <div class="card" onclick="kaato()" style="margin-bottom: 12px;">
            <div class="card-body" style="font-weight: 300;" onclick="kaato()">
               <a href="" onclick="kaato()" style="text-decoration-line: none;">{{todo.content}}</a>
            </div>
          </div>
          {% endif %}
          {% endfor %}

          <script>
              function kaato(e){
                e.preventDefault();
                console.log(this.id)
              }
          </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>